POSTGRES_URL=postgresql://sunrise_user:sunrise_password@localhost:5432/sunrise_db
POSTGRES_USER=sunrise_user
POSTGRES_PASSWORD=sunrise_password
POSTGRES_DB=sunrise_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
